<div class="container-fluid">




  <div style="margin-top: 10px; margin-bottom: 20px">
    <div class="locbutton">
      <button class="btn btn-primary btn-circle btn-xl" (click)="getLocation()">{{!canshow.canshow?"Hae
        sijaintisi":"Päivitä sijaintisi"}}</button>

      <!--Napissa näytetään "Hae sijaintisi", jos käyttäjä ei ole hakenut vielä sijaintiaan. Jos sijainti on haettu,
napissa näytetään teksti "Päivitä sijaintisi".-->

    </div>
    <br>
    <!--<button (click)="setLocation()">Hae sijainti</button>-->


  </div>

</div>



<div style="color:green" *ngIf="refresh">Tietoja haetaan, ole hyvä ja odota...</div>
<div class="teksti">
  <!--Rakenne näytetään vain, jos käyttäjä on hakenut sijaintinsa.-->
  <div class="card">
    <div class="card bg-info text-black">
      <div *ngIf="canshow.canshow" class="card-body">
        <p>Lähin asema {{lahinasema}}, välimatka: {{etaisyys}} km</p>
        <p>Sijaintisi: leveyspiiri {{lat}}, pituuspiiri {{lon}}</p>
        <div class="koe">
          <p>Sijainnin aikaleima {{timestamp}}</p>
          <span class="tooltiptext">Huomaathan, että sovellus saa sijantitiedot päätelaitteeltasi. Sijainti ei päivity
            kaikissa päätelaitteissa reaaliajassa. Tämä vuoksi sijanti ei välttämättä aina päivity painettuasi Päivitä
            sijaintisi
            -nappia tai avattuasi sovelluksen uudelleen. Päivämäärä ja kellonaika kertovat minkä ajankohdan sijainnin
            laite on ilmoittanut sovellukselle.</span>
        </div>



      </div>
      <div *ngIf="!canshow.canshow" class="card-body">
        <p>Paina Hae sijaintisi -nappia. Haen sijantisi ja lähinnä olevan rautatieaseman sijainnin ja näytän ne
          kartalla. Haettuasi sijaintisi, löydät valikosta Juna-aikataulut -valinnan, josta pääset etsimään asemalta
          lähteviä
          junavuoroja.</p>


      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<div class="kartta">

  <div class="liikenne">
    <p><code
        *ngIf="canshow.canshow">Liikennetietojen lähde <a href="https://tmfg.fi/">Fintraffic</a> / <a href="https://www.digitraffic.fi/">D</a><a href="https://www.digitraffic.fi/">igitraffic</a>, <a href="http://creativecommons.org/licenses/by/4.0/">CC 4.0 BY</a></code>
      <!--Rakenne näytetään vain, jos käyttäjä on hakenut sijaintinsa.-->
    </p>
  </div>

  <div class="map-container">

    <div id="map"></div>
  </div>



</div>