<div class="container-fluid">
  <br>
  <br>
  <h6 style="color: green">Kirjaudu JunaApp-sovellukseen.</h6>

  <br>

  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
      <label for="tunnus">Anna käyttäjätunnus:</label>
      <input type="text" class="form-control" name="tunnus" ngModel minlength="8" required />
      <!-- jos lomakkeella ei ole required-virhettä tai se on koskematon niin span on piilotettu-->
      <span style="color: red" [hidden]="!f.form.hasError('required', 'tunnus')|| f.pristine">Tunnus
        vaaditaan</span>
      <span style="color: red" [hidden]="!f.form.hasError('minlength', 'tunnus')|| f.pristine">Pituus 8 - 15
        merkkiä</span>
      <span style="color: red" [hidden]="!f.form.hasError('maxlength', 'tunnus')|| f.pristine">Pituus enintään 15
        merkkiä</span><br>
      <label for="salasana">Anna salasana:</label>
      <input #password="ngModel" type="password" class="form-control" name="salasana" ngModel
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required />
      <!--Huom" Serveripuolella ei ole vielä sananan validointia.-->
      <!-- jos lomakkeella ei ole required-virhettä tai se on koskematon niin span on piilotettu-->
      <span style="color: red" [hidden]="!f.form.hasError('required', 'salasana')|| password.pristine">Salasana
        vaaditaan</span>
      <span style="color: red" [hidden]="!f.form.hasError('maxlength', 'salasana')|| password.pristine">Pituus enintään
        15 merkkiä</span>
      <!-- jos lomakkeella ei ole pattern-virhettä tai se on koskematon niin span on piilotettu-->
      <span style="color: red" [hidden]="!f.form.hasError('pattern', 'salasana')">8 - 15 merkkiä, vähintään
        yksi kirjain, yksi numero ja yksi erikoismerkki</span><br><br>
      <!--Kirjaudu-nappi näytetään disabloituna, niin kauan kuin lomakkeella ei ole enää virheitä.-->
      <button type="submit" [disabled]="f.invalid">Kirjaudu</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <!--Tässä näytetään mahdollinen virheilmoitus.-->
  </form>
</div>

<!--pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$-->

<!--pattern="^[a-zA-Z]{6}[0-9]{3}$" -->