<div class="container-fluid">
  <br>
  <br>
  <h4 style="color:royalblue">JunaAppi</h4>

  <br>
  <!--<div class="d-flex mt-3 mb-3">Login</div>-->

  <p style="color: royalblue;">JunaAppi -sovelluksella voit hakea oman sijaintisi ja lähimmän rautatieaseman. Palvelu
    esittää
    lähimmän rautatieaseman,
    jota kautta kulkee henkilöliikennettä, ja jossa henkilöjunat pysähtyy, sijannin. JunaAppi-sovelluksella saat myös
    selvillä lähimmältä rautatieasemalta lähtevät junavuorot.</p>

  <p style="color: royalblue;">Huomaathan, että sovellus saa sijantitiedot päätelaitteeltasi. Sijainti ei päivity
    kaikissa
    päätelaitteissa reaaliajassa. Tämä vuoksi sijanti ei välttämättä aina päivity painettuasi Päivitä sijaintisi
    -nappia tai avatessasi sovelluksen uudelleen.</p>


  <p style="color: royalblue;">JunaAppi sijoittaa sijaintisi, sekä lähimmän rautatieaseman sijainnin näkyville kartalle.
    Palvelu ilmoittaa myös
    sen
    hetkisen välimatkan lähimmälle asemalle kilometreissä. Kun olet hakenut sijaintisi tulee sovelluksen valikkoon uusi
    valinta "Juna-aikataulut", jonka valitsemalla pääset etsimään lähimmältä rautatieasemalta
    valitsemallesi kohdeasemalle seuraavan 24 tunnin aikana lähtevät junavuorot. Sovellus näyttää 10
    seuraavana lähtevää junavuoroa.</p>

  <p style="color: red;">JunaAppin tekijä ei ota vastuuta, jos sovelluksen näyttämissä tiedossa on puutteita,
    tai
    tiedot ovat vääriä. Sovelluksessa
    hyödynnetään FinnTraffic / Digitraffic -palvelun tarjoamaa avointa dataa. Avoimeen dataan tuotavaa tietoa koostetaan
    eri lähteistä. Lähdejärjestelmien tiedoissa voi olla
    puutteita tai virheitä, tietoa ei aina saada tai tieto jää jostakin syystä välittymättä avoimeen dataan.
  </p>

  <p style="color: royalblue;">Mikäli päätelaitteesi näyttö sallii leveämmän sovellusikkunan, saat lähtevistä
    junavuoroista myös niiden
    väliasemat.
    Väliasemat saat näkyville klikkaamalla taulukkoon tulevassa Väliasemat-sarakkeessa olevaa nappia haluamasi
    junavuoron kohdalla. Väliasemat avautuvat varsinaisen junavuorolistan alapuolelle, mikäli väliasemia on. Myös
    Väliasema-taulukossa on rajoitettu sarakkeiden näkymistä, mikäli päätelaitteen näyttö on kapea. Saat mahdollisesti
    näkyviin piilotetut
    sarakkeet kääntämällä päätelaitteesi vaaka-asentoon.

  <p style="color: royalblue;">Sijaintisi, lähimmän rautatieaseman ja lähtevien junavuorojen, tai niiden väliasemien
    näkeminen ei edellytä
    kirjautumista. Kirjautumalla palveluun valikkoon saat valikkoon lisäksi valinnan Tietokanta, josta näkyy kaikki
    sovelluksen käyttäjille palauttamat junavuorot. Tietokantanäkymästä ei saa selville kenenkään yksittäisen käyttäjän
    saamia
    vastauksia.</p>

  <p style="color: royalblue;">Jos olet rekisteröitynyt JunaAppiin ja olet kirjautunut sisään, valikkoon tulee
    esille Käyttäjätiedot
    -linkki, jonka kautta näet oman käyttäjätunnuksesi, päivän, jolloin rekisteröidyit palveluun, ja lisäksi
    päivämäärän, jolloin kirjauduit edellisen kerran palveluun. Näet samalta sivulta myös kuinka monta kertaa olet
    kirjautunut sovellukseen sisään. Samalta
    sivulta löytyy myös nappi, jolla voit poistaa käyttäjätunnuksesi ja siihen liittyvät tiedot (rekisteröitymispäivä,
    viimeinen kirjautumispäivä,
    käyntien lukumäärä) sovelluksen tietokannasta.</p>
  <br>
  <br>

</div>